@font-face {
  font-family: "MyFont";
  src: url("./montserrat/Montserrat-Medium.otf") format("woff2"),
    url("./montserrat/Montserrat-Medium.otf") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    background-color: cadetblue;
  }
  25% {
    transform: rotate(90deg);
    background-color: rgb(150, 60, 78);
  }
  50% {
    transform: rotate(180deg);
    background-color: rgb(20, 220, 50);
  }
  75% {
    transform: rotate(300deg);
    background-color: rgb(235, 152, 9);
  }
  100% {
    transform: rotate(360deg);
    background-color: crimson;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: aqua;
  width: 23rem;
  height: 23rem;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner .spinner-body {
  background: white;
  width: 70%;
  height: 70%;
  align-self: center;
  border-radius: 50%;
}
